<ul class="breadcrumb">
  <li class="breadcrumb-controller"><%= @route[:reqs][:controller].humanize %><span class="divider">/</span></li>
  <li>
    <div class="label-api">
      <span class="label label-important"><%= @route[:verb] %></span>
    </div>
    <strong><%= @route[:path] %></strong>
  </li>
</ul>

<% if @inputs.is_a?(Hash) && @inputs.has_key?(:undefined) %>
  <%= render 'undefined_route', :route => @inputs[:undefined] %>
<% else %>
  <% @inputs.each do |input| %>
    <%= form_tag @route[:path], :method => @route[:verb], :class => 'well form-horizontal', :remote => true do %>

      <% if input[:url_params].empty? && input[:post_params].empty? %>
        <div class="alert alert-info">
          No params specified.
        </div>
      <% else %>
        <ul class="nav nav-tabs">
          <li class="nav-label">Request</li>
          <% if input[:url_params].present? %>
            <li<% unless input[:post_params].present? %> class="active"<% end %>><a href="#" id="url-params">URL</a></li>
          <% end %>
          <% if input[:post_params].present? %>
            <li class="active"><a href="#" id="post-params">POST</a></li>
          <% end %>
        </ul>
      <% end %>

      <% if input[:url_params].present? %>
        <fieldset ref="url-params">
          <% input[:url_params].each do |label, value| %>
            <%= render 'param_form_element', :label => "[api_taster_url_params]#{label}", :value => value, :label_text => label %>
          <% end %>
        </fieldset>
      <% end %>

      <% if input[:post_params].present? %>
        <fieldset ref="post-params">
          <%= ApiTaster::FormBuilder.new(input[:post_params]).html.html_safe %>
        </fieldset>
      <% end %>

      <div class="form-actions">
        <input id="submit-api" type="submit" class="btn btn-primary pull-right"></input>
      </div>

    <% end %>
  <% end %>
<% end %>

<div id="show-api-response-div" class="well hidden">
  <ul class="nav nav-tabs">
    <li class="nav-label">Response</li>
    <li class="hidden"><a href="#" id="response-json">JSON</a></li>
    <li class="active"><a href="#" id="response-raw">Raw</a></li>
  </ul>
  <pre class="prettyprint nowrap hidden" ref="response-json"></pre>
  <pre class="prettyprint" ref="response-raw"></pre>
</div>
