<%= render 'breadcrumb',
  :parent     => @route[:reqs][:controller].humanize,
  :current    => @route[:path],
  :label      => @route[:verb],
  :label_type => 'important'
%>

<script type="application/javascript">
  <%= headers_js_callback %>
</script>

<% if @params.is_a?(Hash) && @params.has_key?(:undefined) %>
  <%= render 'undefined_route', :route => @params[:undefined] %>
<% else %>

  <% if @comment %>
    <div class="well">
      <%= markdown @comment %>
    </div>
  <% end %>

  <% @params.each do |param| %>
    <%= form_tag @route[:full_path], :method => @route[:verb], :class => 'well form-horizontal', :remote => true do %>

      <% if param[:url_params].empty? && param[:post_params].empty? %>
        <div class="alert alert-info">
          No params specified.
        </div>
      <% else %>
        <ul class="nav nav-tabs">
          <li class="nav-label">Request</li>
          <% if param[:url_params].present? %>
            <li<% unless param[:post_params].present? %> class="active"<% end %>><a href="#" id="url-params">URL</a></li>
          <% end %>
          <% if param[:post_params].present? %>
            <li class="active"><a href="#" id="post-params">POST</a></li>
          <% end %>
        </ul>
      <% end %>

      <% if param[:url_params].present? %>
        <fieldset ref="url-params">
          <% param[:url_params].each do |label, value| %>
            <%= render 'param_form_element', :label => "[api_taster_url_params]#{label}", :value => value, :label_text => label %>
          <% end %>
        </fieldset>
      <% end %>

      <% if param[:post_params].present? %>
        <fieldset ref="post-params">
          <%= ApiTaster::FormBuilder.new(param[:post_params]).html.html_safe %>
        </fieldset>
      <% end %>

      <div class="form-actions">
        <input id="submit-api" type="submit" class="btn btn-primary pull-right"></input>
      </div>

    <% end %>
  <% end %>
<% end %>

<div id="show-api-response-div" class="well hidden">
  <ul class="nav nav-tabs">
    <li class="nav-label">Response</li>
    <li class="hidden"><a href="#" id="response-info">Info</a></li>
    <li class="hidden"><a href="#" id="response-json">JSON</a></li>
    <li class="active"><a href="#" id="response-raw">Raw</a></li>
  </ul>
  <pre ref="response-info">
    <table>
      <tr class="status">
        <td class="name">Status:</td>
        <td class="value str"></td>
      </tr>
      <tr class="time">
        <td class="name">Time:</td>
        <td class="value str"></td>
      </tr>
      <tr class="headers">
        <td class="name">Headers:</td>
        <td class="value str"></td>
      </tr>
    </table>
  </pre>
  <pre class="prettyprint nowrap hidden" ref="response-json"></pre>
  <pre class="prettyprint" ref="response-raw"></pre>
</div>
