<!DOCTYPE html>
<html>
<head>
  <title>API Taster</title>
  <%= stylesheet_link_tag    "api_taster/application", :media => "all" %>
  <%= javascript_include_tag "api_taster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav">
          <li><a class="brand" href="<%= root_path %>">API Taster</a></li>
        </ul>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li>
              <a href="/" target="_blank"><%= Rails.application.class.name %> <i class="icon-share-alt icon-white"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="wrapper" class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
