<!DOCTYPE html>
<html>
<head>
  <title>API Taster</title>
  <%= stylesheet_link_tag    "api_taster/application", :media => "all" %>
  <%= javascript_include_tag "api_taster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav">
          <li>
            <%= link_to ApiTaster.config.title, root_path, class: 'brand' %>
          </li>
        </ul>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li>
              <%= link_to ApiTaster.config.app_url, target: '_blank' do %>
                <%= ApiTaster.config.app_title %>
                <i class="icon-share-alt icon-white"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="wrapper" class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
